<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="container pt-5" id="app">
        <div class="card">
            <h1>{{title}}</h1>
            <div class="form-control">
                <input 
                    type="text" 
                    :placeholder="placeholderString" 
                    :value="inputValue" 
                    v-model="inputValue"
                    @keypress.enter="addHandler"
                />
            </div>
            <button class="btn" @click="addHandler">Добавить</button>
            <hr>
            <ul class="list" v-if="notes.length !== 0">
                <li class="list-item" v-for="(note, idx) in notes">
                    ({{idx}}) {{toUpperCase(note)}}
                    <button class="btn danger" @click="removeNote(idx)">Удалить</button>
                </li>
                <hr>
                <li>
                    <strong>Общее количество: {{notes.length}}</strong> | Удвоенное: {{doubleCountComputed}}
                </li>
            </ul>
            <div v-else>Заметок пока нет. Добавьте первую.</div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>
</html>